<table>
	<tr>
		<th>Name</th>
		<th>Actions</th>
	</tr>
	<tr *ngFor="let player of players">
		<td>{{player.name}}</td>
		<td><button class='playing' (click)="playing(player._id)" [ngClass] = "{ 'green': player.game3 == 'playing' }" >Playing</button>
			<button class='not_playing' (click)="not(player._id)" [ngClass] = "{ 'red': player.game3 == 'not' }">Not Playing</button>
			<button class='undecided' (click)="undecided(player._id)" [ngClass] = "{ 'yellow': player.game3 == 'undecided' }">Undecided</button></td>
	</tr>
</table>